.Graph__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: var(--graph-font-size);
  font-family: var(--graph-font-family);
  color: var(--graph-color);
  background: var(--graph-background-color);
}

.Graph__panels {
  display: flex;
  flex-direction: row;
  height: 100%;
}

/* controls floating button */
#control{
	position:fixed;
	top:0.25rem;
	right:0.5rem;
}