.Graph__ControlPanel_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width:100%;
}

.Graph__ControlPanel_control {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
  border-radius: 3px;
  padding: 0 0.5rem 0 0;
}

.Graph__ControlPanel_buttons {
  display: flex;
  flex-direction: row;
}

.item {
  flex: 1 1 auto;
  width:100%;
  padding: 0 0.25rem 0 0.25rem;
  margin: 0.25rem 0 0 0;
  background: var(--graph-background-color3);
  border-radius: 3px;
}

.layout {
  width: 100%;
}

.item p label {
  font-weight: bold;
}
 
.item input[type="range"] {
  margin: 0 0 0.5em 0;
  width: 95%;
}

.status {
  background: var(--graph-background-color3);
  border-radius: 3px;
}

.status_bar_container{
  margin-bottom: 0.5rem;;
}

.status label {
  padding: 0.25rem;
  font-weight: bold;
}

.status .status_bar {
  box-sizing: border-box;
  height: 0.75em;
  border: 1px #777 solid;
  border-radius: 2px;
  margin: 0.25rem 0.25rem 0.25rem;
  display: flex;
}
.status .status_bar #status_value {
  background-color: var(--graph-color4);
  border-radius: 1px;
  flex-basis: 100%;
}
.status .status_bar:hover {
  border-width: 2px;
  border-color: var(--joplin-selected-color2);
}
.status .status_bar:active #status_value {
  background-color: var(--graph-color);
}

.Graph__ControlPanel_container button {
  margin: 0.25rem;
  min-width: 0px;
}